body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.firstheader {
  color: #a38d71;
  text-align: center;
}
.paragraph1 {
  text-align: center;
  font-size: 16px;
  color: #000000;
}
.mainbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.image1-container2 {
  display: flex;
  flex-direction: row;
  background-color: #edf2f6;
  gap: 20px;
  text-align: left;
  padding: 40px 40px 40px 40px;
}
.image1-container2 h1 span {
  color: #b46744;
}
.image1-container2 img {
  width: 400px;
  height: 300px;
}
.image1-container2-1 {
  display: flex;
  flex-direction: column;
}

.container3 img {
  width: 920px;
  height: 200px;
}
