body {
  margin: 0;
  overflow: hidden;
}
.first-section {
  text-align: center;
  padding: 20px;
}
.first-section h1 {
  color: #a38171;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.middle-section {
  background-color: aliceblue;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-sub-section img,
.middle-sub-section .second-paragraph {
  width: 50%;
  height: 250px;
}

.middle-sub-section {
  padding: 40px;
  max-width: 1020px;
  display: flex;
  flex: 2;
  gap: 40px;
  justify-content: center;
}
.second-paragraph h1 span {
  color: rgb(166, 99, 23);
}
.third-section {
  padding-top: 10px;
  text-align: center;
  justify-content: center;
}
.third-section img {
  padding-left: 40px;
  width: 1020px;
}
