body {
  overflow: hidden;
}
.first-section {
  max-width: 100%;
  text-align: center;
  padding: 20px;
}
.first-section h1 {
  color: #a38171;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.middle-section {
  background-color: aliceblue;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.middle-sub-section {
  padding: 40px 10px 40px 10px;
  max-width: 1000px;
  max-height: 330px;
  display: flex;
  flex: 2;
  gap: 40px;
  justify-content: center;
}
.middle-sub-section img,
.middle-sub-section .second-paragraph {
  width: 50%;
}
.second-paragraph h1 span {
  color: rgb(166, 99, 23);
}
.third-section {
  
  display: flex;
  justify-content: center;
}
.third-section img {
  padding: 10px;
  max-width: 1000px;
}
